@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Roboto, sans-serif;
}

:root {
    --padding-horizontal: 10rem;
    --accent-color: #3882f6;
}

@media only screen and (max-width: 1070px) {
    :root {
        --padding-horizontal: 8rem;
    }

}

.header {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem var(--padding-horizontal);
    position: sticky;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.header-logo {
    animation: flow 15s ease-in-out infinite;
    background: linear-gradient(-90deg, #3882f6, #3882f6, #10c772, #e7d63c);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-link {
    text-decoration: none;
}

.header-link a {
    transition: 250ms ease-in-out;
}

.header-link:hover a {
    color: var(--accent-color);
}

.header-link-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.hero-section {
    object-fit: cover;
    background-color: black;
    background-image: -webkit-cross-fade(
        url(https://pixabay.com/get/gf1eb53d220eafab459b1affe02e79bc68b890c882e75a055df6850f5479e9da31dc924f2979966c5848bcf3790b63c79ace7b169fbacaa791a9cc6009b29132f0808e916f0722e6d2f8e4edfc8853014_1920.jpg), 
        url(black.png), 40%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 7rem var(--padding-horizontal);
    padding-bottom: 4rem;
    margin-top: -5rem;
    display: flex;
    min-height: 300px;
}

.hero-text {
    font-size: 50px;
    font-weight: 900;
}

.hero-subtext, .header-link {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 500;
}

.hero-subtext {
    font-size: 24px;
}

.text-container {
    flex: 1;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1rem;
}

.hero-text, .hero-subtext {
    width: 50%;
}

.hero-button {
    padding: 0.5rem 1.5rem;
    width: fit-content;
    background-color: var(--accent-color);
    border-radius: 8px;
    border: none;
}

.hero-button:hover {
    background-color: rgb(50, 120, 231);
}

.hero-button:active {
    background-color: #2163cc;
}

.details {
    padding: 2rem var(--padding-horizontal);
}

.details-text {
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 2rem;
    
}

.details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: auto;
}

.picture {
    height: 150px;
    width: 150px;
    border: #3882f6 4px solid;
    border-radius: 20px;
    background-image: url(https://i1.wp.com/puppytoob.com/wp-content/uploads/2018/02/Boo-Dog-1.jpg?fit=1200%2C800&ssl=1);
    background-size: auto 150px;
    background-position-x: center;
    z-index: 20;
    position: relative;
}

.picture.one {
    background-image: url(https://cdn.pixabay.com/photo/2016/08/25/21/24/houston-1620695_960_720.jpg);
    background-position-x: left;
}

.picture.two {
    background-image: url(https://cdn.pixabay.com/photo/2016/07/30/08/13/moscow-1556561_960_720.jpg);
}

.picture.three {
    background-image: url(https://cdn.pixabay.com/photo/2017/09/06/18/22/island-2722471_960_720.jpg);
    background-position-x: left;
}

.picture.four {
    background-image: url(https://cdn.pixabay.com/photo/2014/05/26/09/58/sydney-opera-house-354375_960_720.jpg);
    background-position-x: right;
}

.picture-details {
    transform: translateY(-200%);
    color: #000000;
    text-align: center;
    font-weight: 500;
    width: 140px;
    margin-top: 1rem;
    transition: 250ms ease-out;
    position: relative;
    left: 5px;
    z-index: 1;
}

.picture-container:hover .picture-details {
    transform: translateY(0%);
    z-index: 1;
}

.testimonial {
    background-color: #E7E5EB;
    padding: 2rem var(--padding-horizontal)
}

.quote {
    color: black;
    font-size: 32px;
    padding: 3rem 7rem;
    text-align: center;
    position: relative;
    z-index: 3;
}

.quote::before {
    content: '"';
    color: goldenrod;
}

.quote::after {
    content: '"';
    color: goldenrod;
}

.quote cite {
    font-size: 24px;
    color: black;
}


.footer {
    padding: 2rem;
    text-align: center;
    background-color: #222222;
    font-size: 16px;
    color: white;
} 

a {
    text-decoration: none;
}

@media only screen and (max-width: 1070px) {
    .hero-text, .hero-subtext {
        width: 100%;
    }
    .hero-text {
        font-size: 32px;
    }
    .hero-subtext {
        font-size: 18px;
    }
    .hero-section {
        min-height: none;
    }
}